$h1-title: 12rem;
$h2-title: 8rem;
$logo-text: 4.4rem;
$body-large: 2.4rem;
$widget-text: 1.6rem;
//mobile
$h1-title-mobile: 5.2rem;
$h2-title-mobile: 3.6rem;
$logo-text-mobile: 3rem;
$body-large-mobile: 1.6rem;
$widget-text-mobile: 1.2rem;

// Миксин для шрифтов Involve

@font-face {
  font-family: "Involve";
  src:
    url("./fonts/Evolventa-Regular.woff2") format("woff2"),
    url("./fonts/Involve-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Involve";
  src:
    url("./fonts/Involve-RegularOblique.woff2") format("woff2"),
    url("./fonts/Involve-RegularOblique.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Involve";
  src:
    url("./fonts/Involve-SemiBold.woff2") format("woff2"),
    url("./fonts/Involve-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Involve";
  src:
    url("./fonts/Involve-SemiBoldOblique.woff2") format("woff2"),
    url("./fonts/Involve-SemiBoldOblique.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Involve";
  src:
    url("./fonts/Involve-Bold.woff2") format("woff2"),
    url("./fonts/Involve-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Involve";
  src:
    url("./fonts/Involve-BoldOblique.woff2") format("woff2"),
    url("./fonts/Involve-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src:
    url("./fonts/Evolventa-Regular.woff2") format("woff2"),
    url("./fonts/Evolventa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src:
    url("./fonts/Evolventa-Oblique.woff2") format("woff2"),
    url("./fonts/Evolventa-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src:
    url("./fonts/Evolventa-Bold.woff2") format("woff2"),
    url("./fonts/Evolventa-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src:
    url("./fonts/Evolventa-BoldOblique.woff2") format("woff2"),
    url("./fonts/Evolventa-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

// Миксин для шрифтов Evolventa

// Вызов миксинов
//   @include involve-fonts();
//   @include evolventa-fonts();
