@use './colors' as c;
@use './fonts' as f;
@use "./mixins" as m;
.input {
    border-radius: 1.8rem;
    background: c.$gray;    
    color: #fff;
    font-family: "Evolventa";
    font-weight: 400;
    line-height: 110%;
    border: 1px solid c.$gray;
    padding: 1.7rem 2.4rem;
    text-align: center;
    @include m.text-size(f.$body-large, f.$body-large-mobile);

    &:active {
        box-sizing: border-box;
        border: 1px solid c.$aquamarine;
        background: rgb(27, 26, 44);
    }
    &:invalid {
        box-sizing: border-box;
        border: 1px solid c.$pink-light;
        background: c.$gray;
      }
      

}