@use './fonts.scss' as f;
@use './mixins' as m;
@use './buttons';
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;  
  @include m.mobile {
    padding: 0 3rem;
    justify-content: center;
    margin-bottom: 3.8rem;
    
  }
  &__rs {
    margin-right: 2.1rem;
    max-width: 62rem;
    display: inline-flex;
    @include m.mobile {
      order: -1;
   
      
    }
  }
}

.main-content-ls {
  display: inline-flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  font-family: "Involve";
  z-index: 1;

  &__title-h1 {
    background: linear-gradient(
      90deg,
      rgb(247, 6, 163),
      rgb(90, 115, 239),
      rgb(129, 243, 248)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: "Involve";    
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 0.02em;
    margin-bottom: 0.6rem;
    @include m.text-size(f.$h1-title, f.$h1-title-mobile);

  }

  &__title-h2 {
    color: rgb(255, 255, 255);
    font-family: "Involve";
    font-weight: 500;
    line-height: 90%;
    letter-spacing: 0.02em;
    margin-bottom: 3rem;
    @include m.text-size(f.$h2-title, f.$h2-title-mobile);


  }

  &__subtitle {
    color: rgb(255, 255, 255);
    font-family: "Evolventa";    
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 7.2rem;
    @include m.text-size(f.$body-large, f.$body-large-mobile);
    @include m.mobile {
      margin-bottom: 3rem;
      
    }
  }
}

