// Общие стили
@use "./_menu.scss";
@use "./_colors" as c;
@use "./_dialog";
@use "./_main-content";
@use "./_advantages";
@use "./_fonts" as f;
@use './mixins' as m;
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: rgb(12, 13, 18);
  background-color: black;
}

.layout {
  max-width: 140rem;
  margin: 0 auto;
}

