include ../ui/widget

section.advantages
  +widget("/icons/goal.svg", "Хотите открыть бизнес?", "Нейросеть поможет составить бизнес-план, рассчитать расходы, нарисовать логотип, найти место получше и станет вашим главным деловым партнером")
  +widget("/icons/suitcase.svg", "Мечтаете об отпуске?", "Нейросеть поможет найти место по вашим запросам, выбрать наилучший сезон, собрать чемодан, подыскать где остановиться и сделать ваш отпуск незабываемым")
  +widget("/icons/checklist.svg", "Вы студент и нуждаетесь в помощи в учебе?", "Нет проблем! Нейросеть — ваш лучший друг, который поможет написать курсовую, решить сложный тест и подготовиться к экзаменам")
  +widget("/icons/mental.svg", "Интересует здоровый образ жизни?", "Нейросеть поделится советами по сбалансированному питанию, безопасным тренировкам и поддержке мотивации.")
