include ../ui/button
section.main-content
  .main-content__ls.main-content-ls
    h1.main-content-ls__title-h1 Нейросеть
    h2.main-content-ls__title-h2 может все!
    .main-content-ls__subtitle Мы уже живем в этой удивительной реальности
    +button('button button--primary js-open-modal', 'Погрузиться в новый мир')
  .main-content__rs.main-content-rs
    img(src="/images/main.png", alt="main")
  
