include ../ui/button
header.header
  .header__logo.header-logo
    .header-logo__icon
    .header-logo__text AI
  .header__rs
    ul.header__list.header-list
      li.header-list__item
        a(href="#").header-list-item__link Главная
      li.header-list__item.header-list-item
        a(href="#").header-list-item__link Преимущества
    +button('button button--secondary', 'Личный кабинет')
  img(src="/icons/burger.svg", alt="bigmak").header__burger-icon
  img(src="/icons/close.svg", alt="close").closebtn
    
    
