@use '../node_modules/scss-reset/src/scss/_reset.scss' as *;
@use '../src/styles/main';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    outline: none !important;
}